body{
    background: url(../images/club.jpg);
}
.aa{
    margin-top: 300px;
    font-size: 20px;
}
a:hover{
    font-family: Phosphate;
    font-size: 30px;
}
a{
    text-decoration: none;
    color: aqua;
    font-size: 20px;
}
.div12{
    margin-left: 290px;
    margin-top: 60px;
}